$breakpoints: (
	"sm": "screen and (max-width: 489px)",
	"md": "screen and (min-width: 490px) and (max-width: 767px)",
	"md_down": "screen and (max-width: 767px)",
	"lg": "screen and (min-width: 768px) and (max-width: 999px)",
	"lg_down": "screen and (max-width: 999px)",
	"lg_up": "screen and (min-width: 768px)",
	"xl": "screen and (min-width: 1000px)",
) !default;

$color_main: #4E98FD;
$color_main_p: #9ec6ff;
$color_main_d: #1b4d92;
$color_black: #444444;
$color_white: #ffffff;
$color_yellow: #FFE600;
$color_orange: #FFC131;
$color_yellow_p: #fff27b;
$color_orange_p: #ffe5a7;
$color_orange_d: #e6a818;
$color_gray_d: #777777;
$color_gray: #e4e4e4;
$color_gray_p: #f7f7f7;
$color_error: rgb(223, 50, 50);

$menu_padding: 10px;
$menu_border_width: 5px; /* 線の太さ */
$menu_border_color: $color_main; /* 線の色 */
$menu_second: 0.3s; /* アニメーション秒数 */
