@charset "UTF-8";
@import "variables";

@mixin mq($index: xl) {
	@media #{map-get($breakpoints, $index)} {
		@content;
	}
}

.pc {
	display: block !important;
}
.sp {
	display: none !important;
}
@include mq($index: md_down) {
	.pc {
		display: none !important;
	}
	.sp {
		display: block !important;
	}
}


html{
    font-size: 62.5%;
}
@include mq($index: md_down) {
    html{
        font-size: 50%;
    }
}
h1,h2,h3,p,ul,li,img,a,button,table,td,th,input,textarea,select,option,label,div,span{
    font-size: 1.6rem;
    font-family: 'Noto Sans JP','Hiragino Kaku Gothic ProN',sans-serif;
    line-height: 1.5em;
    color: $color_black;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}

li {
	list-style: none;
}

img {
	height: auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}
button{
    border: none;
    cursor: pointer;
}
:hover{
    transition: all 0.3s;
}
:focus{
    transition: all 0.3s;
}

.indent {
	text-indent: 0.3em;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hamburger_button {
    display: none;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $color_black;

    .hamburger_menu_line {
        position: absolute;
        transition: $menu_second;
        width: calc(100% - #{$menu_padding} * 2);
        height: $menu_border_width;
        background-color: $menu_border_color;
    }

    .line_top {
        top: $menu_padding;
        left: $menu_padding;
    }

    .line_middle {
        top: calc(50% - #{$menu_border_width} / 2);
        left: $menu_padding;
    }

    .line_bottom {
        bottom: $menu_padding;
        left: $menu_padding;
    }
}

@include mq($index: md_down) {
    .hamburger_button {
        display: inline-block;
    }
}
.menu_active .line_top {
    top: calc(50% - #{$menu_border_width} / 2);
    transform: rotate(45deg);
}

.menu_active .line_middle {
    width: 0;
    height: 0;
    left: $menu_padding;
}

.menu_active .line_bottom {
    top: calc(50% - #{$menu_border_width} / 2);
    transform: rotate(-45deg);
}

nav.hamburger {
    display: block;
    position: absolute;
    width: 100%;
    height: 0; 
    overflow: hidden;
    z-index: 100;
    transition: all 0.3s;
    ul {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: solid 1px #ddd;
        background-color: rgba(255, 255, 255, 1);

        li {
            width: 100%;
            height: 70px;
            border-top: solid 1px #ddd;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            color: $color_main;
            line-height: 70px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:hover a,
            &:focus a {
                background-color: $color_main;
                color: #fff;
                transition: all 0.3s;
            }
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-size: 1.8rem;
                font-weight: bold;
                color: $color_main;
                text-align: center;
                line-height: 70px;
            }
        }
    }
}
nav.menu_active {
    transition: all 0.5s;
    transform: translateX(0%);
    height: 100vh;
}



.header{

    .nav_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 60px;
        background-color: $color_black;
    }

    h1{
        margin-left: 2rem;
        img{
            height: 37px;
            padding-top: 5px;
        }
    }
    @include mq($index: md_down) {
        .nav_container{
            height: 50px;
            h1{
                img{
                    height: 32px ;
                    padding-top: 2px;
                }
            }
        }
    }
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 15px 40px;
            li{
                a{
                    display: inline-block;
                    padding: 5px 10px ;
                    color: $color_white;
                    &:hover{
                        color: $color_main;
                    }
                }
            }
        }
    }
}

.footer{
    height: 50px;
    margin: 0;
    background-color: $color_gray;
    .copyright{
        display: block;
        padding:calc(25px - 0.9em) 0;
        
        text-align: center;
        font-size: 1.4rem;
        color: $color_black;
    }
}
