@charset "UTF-8";
/* 線の太さ */
/* 線の色 */
/* アニメーション秒数 */
.regist_login_sec {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  min-width: 320px;
  background-color: #4E98FD; }
  .regist_login_sec .testaccount {
    margin: 0 20px;
    padding-top: 0px;
    color: #ffffff;
    font-size: 1.8rem; }
  .regist_login_sec form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .regist_login_sec form .input_box {
      width: 200px;
      margin: 20px auto; }
      .regist_login_sec form .input_box input {
        width: 200px;
        border-radius: 3px;
        border: solid 1px #bbb;
        font-size: 1.5rem; }
        .regist_login_sec form .input_box input:focus {
          border: 1px solid #9ec6ff; }
      .regist_login_sec form .input_box label {
        display: inline-block;
        margin: 5px 0;
        font-weight: 500;
        font-size: 1.6rem; }
      .regist_login_sec form .input_box .error {
        font-size: 1.3rem;
        color: #df3232; }
    .regist_login_sec form button.button_regist {
      display: block;
      position: relative;
      width: 200px;
      height: 3.4rem;
      margin: 4rem auto 0;
      border: solid 1px #e6a818;
      border-radius: 5px;
      font-size: 1.6rem;
      font-weight: 500;
      z-index: 0; }
      .regist_login_sec form button.button_regist::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        transition: 0.3s;
        background: linear-gradient(#FFE600, #FFC131); }
      .regist_login_sec form button.button_regist::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        background: linear-gradient(#fff27b, #ffe5a7); }
      .regist_login_sec form button.button_regist:hover::before, .regist_login_sec form button.button_regist:focus::before {
        opacity: 0; }
      .regist_login_sec form button.button_regist:hover {
        border: solid 1px #ffe5a7; }
    .regist_login_sec form button.button_login {
      display: block;
      position: relative;
      width: 200px;
      height: 3.4rem;
      margin: 4rem auto 0;
      border: solid 1px #444444;
      border-radius: 7px;
      font-size: 1.6rem;
      font-weight: 500;
      color: #ffffff;
      z-index: 0; }
      .regist_login_sec form button.button_login::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        transition: 0.3s;
        background: linear-gradient(#444444, #777777); }
      .regist_login_sec form button.button_login::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        background: linear-gradient(#e4e4e4, #e4e4e4); }
      .regist_login_sec form button.button_login:hover::before, .regist_login_sec form button.button_login:focus::before {
        opacity: 0; }
      .regist_login_sec form button.button_login:hover, .regist_login_sec form button.button_login:focus {
        border: solid 1px #777777;
        color: #777777; }
    .regist_login_sec form .lead_text {
      margin: 20px auto;
      color: #777777;
      font-size: 1.4rem;
      text-align: center;
      text-decoration: underline; }
      .regist_login_sec form .lead_text:hover, .regist_login_sec form .lead_text:focus {
        color: #444444; }
    .regist_login_sec form h2 {
      max-width: 1000px;
      padding-left: 2rem;
      padding-top: 12px;
      margin: 0 auto 0;
      color: #444444;
      font-size: 2.4rem; }
    .regist_login_sec form .submitError {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 1.4rem;
      color: #df3232; }
  @media screen and (max-width: 767px) {
    .regist_login_sec form {
      width: 280px; } }

/*# sourceMappingURL=login.css.map */
